@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
header {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
/* MENU SCROLL */
section {
    position: absolute;
    color: crimson;
    z-index: 10;
    opacity: 0;
}
#about-link {
    background: cadetblue;
    transform: translateY(55vh);
}
#project-link {
    background: chartreuse;
    transform: translateY(-80px);
}
#contact-link {
    background: cornsilk;
    transform: translateY(-80px);
}
/* MAIN */
/* MODE-LIGH-SCRIPT */
.darkMode .home,
.darkMode nav,
.darkMode .about,
.darkMode .about svg,
.darkMode .menu-icon-remove,
.darkMode .contact {
    background: white;
}
.darkMode .about-wave,
.darkMode .web-development-txt,
.darkMode .project,
.darkMode .contact-form input,
.darkMode .contact-form textarea {
    background: aliceblue;
}
.darkMode .wave svg,
.darkMode .about svg,
a {
    color: aliceblue;
}
/* MODE-DARK-SCRIPT */
.darkMode .logo::before,
.darkMode .name,
.darkMode .title,
.darkMode .profil-social-media svg,
.darkMode .menu,
.darkMode .about-container,
.darkMode .about-wave,
.darkMode .skills-txt,
.darkMode .web-development-txt,
.darkMode .experience-container-icon svg,
.darkMode .experience-container-tittle,
.darkMode .project-txt,
.darkMode .project-box-tittle,
.darkMode .project-box-desc,
.darkMode .project-box-desc span,
.darkMode .contact-txt,
.darkMode .contact-social-media-container svg,
.darkMode .contact-social-media span,
.darkMode .txt-line span:nth-child(2),
.darkMode .contact-form input,
.darkMode .contact-form textarea {
    color: #03011E;
}
.darkMode .dark-mode {
    border: 3px solid #03011E;
}

.darkMode .hamburger-menu span,
.darkMode .hamburger-menu::after,
.darkMode .hamburger-menu::before,
.darkMode .skills-txt::after,
.darkMode .skills-txt::before,
.darkMode .experience-icon-line,
.darkMode .menu-mobile-social-media div,
.darkMode .line-contact,
.darkMode .txt-line span:nth-child(1),
.darkMode .txt-line span:nth-child(3) {
    background: #03011E;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 5;
    background: #110F26;
    opacity: 1;
    box-shadow: 0px 0px 10px #03011e10;
    backdrop-filter: blur(-10px);
}
.dark-mode {
    width: 44px;
    height: 18px;
    border: 3px solid white;
    border-radius: 99px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: border 0.3s ease-in-out;
}
.dark-mode:hover {
    border: 3px solid #2094FF;
}
.dark-mode div {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 99px;
    margin-left: 0;
    transition: 0.3s ease-in-out;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.darkMode .dark-mode div {
    margin-left: 64%;
    background: #03011E;
}
/* MENU */
.menu {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: relative;
    background: none;
}
.menu:hover {
    color: #2094FF;
}
.menu::before {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 0px;
    height: 3px;
    background: #2094FF;
    transition: 0.3s ease-in-out;
}
.menu:hover::before {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background: #2094FF;
}
/* HAMBURGER MENU */
.hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
    cursor: pointer;
}
.hamburger-menu span, .hamburger-menu::after, .hamburger-menu::before {
    content: "";
    display: block;
    width: 100%;
    height: 18%;
    background-color: white;
    border-radius: 99px;
    transition: 0.3s ease-in-out;
}
.hamburgerMenuAnimation.hamburger-menu::before {
    transform: rotate(-45deg) translate(-23%, 6px);
}
.hamburgerMenuAnimation.hamburger-menu span {
    opacity: 0;
}
.hamburgerMenuAnimation.hamburger-menu::after {
    transform: rotate(45deg) translate(-23%, -6px);
}
.hamburger-menu:hover span, .hamburger-menu:hover::after, .hamburger-menu:hover::before {
    background: #2094FF;
}

/* LOGO */
.logo::before {
    content: "Arry";
    color: white;
    font-size: 30px;
}
.logo::after {
    content: "Putra";
    color: #2094FF;
    font-size: 30px;
}

/* MENU MOBILE */
.menu-mobile a {
    text-decoration: none;
}
.menu-mobile {
    position: fixed;
    background: #110f268e;
    backdrop-filter: blur(10px);
    width: 50%;
    height: 400px;
    right: -50%;
    z-index: 2;
    transition: right 0.3s ease-in-out;
    top: 79px;
    display: flex;
    justify-content: flex-end;
}
.darkMode .menu-mobile {
    backdrop-filter: blur(10px);
    background: rgba(240, 248, 255, 0.605);
}
.menuMobileScript {
    right: 0;
}
.menu-mobile-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-mobile-txt-container {
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 70%;
    justify-content: space-between;
}   
.menu-mobile-txt-container a {
    width: fit-content;
}
.menu-mobile-txt:last-child {
    margin-bottom: 20px;
}
.menu-mobile-txt {
    cursor: pointer;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
    background: none;
    color: rgba(255, 255, 255, 0.801);
    border: none;
    display: flex;
    font-weight: 700;
}
.darkMode .menu-mobile-txt {
    color: #03011ea1;
}
.menu-mobile-txt:hover {
    color: #2094FF;
}
.menu-mobile-social-media {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
    position: relative;
} 
.menu-mobile-social-media svg {
    color: rgba(255, 255, 255, 0.5); 
    transition: color 0.3s ease-in-out;
}
.darkMode .menu-mobile-social-media svg {
    color: #03011eaf;
}
.menu-mobile-social-media svg:hover {
    color: #2094FF;
}
.menu-mobile-social-media div {
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    top: 0;
    opacity: 0.1;
}

/* HOME */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #03011E;
    position: relative;
}
.home-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.profil {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.profil-circlebg {
    /* background: linear-gradient(45deg, #2094FF, rgb(0, 255, 255)); */
    position: absolute;
    /* animation: circlebg 5s alternate infinite ease-in-out; */
    z-index: 0;
    bottom: -10px;
}
/* @keyframes circlebg {
    0% {
        border-radius: 49% 51% 51% 49% / 54% 50% 50% 46%;
    }
    50% {
        border-radius: 39% 61% 41% 59% / 52% 51% 49% 48% ;
    }
    100% {
        border-radius: 63% 37% 55% 45% / 52% 51% 49% 48% ;
    }
} */
.profil img {
    height: 200px;
    z-index: 1;
}
.profil-desc {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
    padding: 20px 0px;
}
.title {
    display: flex;
    flex-direction: column;
    height: 35px;
    overflow: hidden;
}
.title :first-child {
    animation: slide 3s alternate infinite ease-in-out;
}
@keyframes slide {
    0% {
        margin-top: 0px;
    }
    10% {
        margin-top: 0px;
    }
    20% {
        margin-top: 0px;
    }
    30% {
        margin-top: 0px;
    }
    40% {
        margin-top: 0px;
    }
    50% {
        margin-top: -35px;
    }
    60% {
        margin-top: -35px;
    }
    70% {
        margin-top: -35px;
    }
    80% {
        margin-top: -35px;
    }
    90% {
        margin-top: -35px;
    }
    100% {
        margin-top: -35px;
    }
}
.profil-social-media {
    display: flex;
    padding: 10px 0px;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}
.profil-social-media svg {
    cursor: pointer;
    color: white;
    width: 32px;
    transition: margin-bottom 0.1s ease-in-out;
}
.profil-social-media svg:hover {
    margin-bottom: 5px;
}

/* WAVE */
.wave {
    position: absolute;
    bottom: -10px;
    width: 100%;
    color: #110F26;
}

/* ABOUT */
.about {
    width: 100%;
    background: #03011E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-wave {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background: #110F26;
}
.about-wave svg {
    transform: rotate(180deg);
    color: #110F26;
    background: #03011E;
} 
/* TEXTX LINE */
.txt-line {
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
.txt-line span:nth-child(2) {
    padding: 0px 3%;
}
.txt-line span:nth-child(1),
.txt-line span:nth-child(3) {
    width: 100%;
    height: 4px;
    opacity: 0.1;
    background: white;
}

/* SKILLS */

.skills-txt {
    font-size: 30px;
    color: white;
    width: 100%;
    height: fit-content;
    text-align: center;
    position: relative;
    margin-bottom: 10%;
}
.skills-txt::before {
    content: "";
    background: white;
    width: 30%;
    height: 4px;
    position: absolute;
    left: 0;
    opacity: 0.1;
    bottom: 45%;
}
.skills-txt::after {
    content: "";
    background: white;
    width: 30%;
    height: 4px;
    position: absolute;
    right: 0;
    opacity: 0.1;
    bottom: 45%;
}

.about-skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px;
}
.web-development {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
.web-development-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.web-development-txt {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    background: #110F26;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}
.web-development-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
}
.web-development-logo svg {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}   
.web-development-logo svg:hover {
    transform: scale(90%);
}

/* EXPERIENCE */
.experience {
    padding: 40px 0px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 40px;
}
.experience-container {
    width: 100%;
    display: flex;
}
.experience-container-icon svg {
    margin-right: 20px;
    position: relative;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.experience-container-icon svg:hover {
    transform: scale(90%);
}
.experience-container-tittle {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    gap: 5px;
}
.experience-container-icon {
    position: relative;
}

/* PROJECT-SWIPER */
/* PROJECT */
.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #110F26;
    width: 100%;
    padding: 30px 0px;
    gap: 50px;
}
.project-txt {
    font-size: 25px;
    color: white;
    position: relative;
}
.project-txt::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #2094FF;
    bottom: -8px;
}
.project-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.project-box {
    width: 100%;
    max-width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.project-box-img {
    width: 95%;
    height: 68%;
    overflow: hidden;
    border-radius: 12px;
}
.project-box-img img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.project-box-img img:hover {
    transform: scale(110%);
}
.project-box-tittle {
    width: 95%;
    font-size: 22px;
    color: white;
}
.project-box-desc {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-box-desc span {
    color: white;
    font-size: 18px;
    opacity: 0.5;
}
.project-box-desc button {
    background: #2094FF;
    border-radius: 99px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 40%;
    height: 32px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    font-family: 'Inter', sans-serif;
}
.project-box-desc button:hover {
    letter-spacing: 3px;
}

/* CONTACT */
.contact {
    background: #03011E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    gap: 40px;
}
.contact-txt {
    width: fit-content;
    text-align: center;
    color: white;
    font-size: 25px;
    position: relative;
}
.contact-txt::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #2094FF;
    bottom: -8px;
}
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    gap: 20px;
}
.contact-form input {
    width: 95%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    border-radius: 10px;
    background: #110F26;
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    caret-color: #2094FF;
    outline: 0;
}
.contact-form textarea {
    resize: none;
    width: 95%;
    padding: 15px 15px;
    background: #110F26;
    border: none;
    border-radius: 10px;
    height: 140px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    color: white;
    caret-color: #2094FF;
    outline: 0;
}
.contact-form button {
    background: linear-gradient(to right, #2094FF, #42ecf8);
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 99px;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-social-media {
    width: 80%;
    max-width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact-social-media-container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    opacity: 0.7;
}
.line-contact {
    background: aliceblue;
    width: 80%;
    max-width: 300px;
    height: 3px;
    opacity: 0.1;
}
.contact-social-media span {
    text-align: center;
    color: aliceblue;
    opacity: 0.5;
    font-size: 15px;
}

/* MEDIA SCREEN */
/* LAPTOP */
@media screen and (min-width: 640px) {
    /* NAVBAR */
    .hamburger-menu {
        display: none;
    }
    .logo {
        display: none;
    }
    .menu-mobile {
        display: none;
    }
    /* HOME */
    .home-container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .profil-desc {
        text-align: left;
    }
    .profil-social-media {
        justify-content: space-between;
    }
    /* SKILLS */
    .skills-txt::before,
    .skills-txt::after {
        width: 40%;
    }
    .about-skills {
        flex-direction: row;
    }
    .web-development {
        flex-direction: row;
    }
    .web-development-container {
        width: 35%;
    }
    /* EXPERIENCE */
    .experience {
        flex-direction: row;
        align-items: flex-start;
    }
    .experience-container {
        width: 40%;
        justify-content: center;
    }

}

/* MOBILE */
@media screen and (max-width: 640px) {
    .menu {
        display: none;
    }
    /* HOME */
    .home-container {
        margin-top: 80px;
    }
}
