@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* MAIN */
body {
    margin: 0;
}

header {
    width: 100%;
    font-family: 'Inter', sans-serif;
}
/* LIGHTMODE-SCRIPT */
.darkMode .home,
.darkMode nav,
.darkMode .about svg {
    background: white;
}
.darkMode .about {
    background: aliceblue;
}
.darkMode .wave svg,
.darkMode .about svg {
    color: aliceblue;
}
/* DARKMODE-SCRIPT */
.darkMode .menu,
.darkMode .about-container {
    color: #03011E;
}
.darkMode .dark-mode {
    border: 3px solid #03011E;
}
.darkMode .logo::before,
.darkMode .name,
.darkMode .title,
.darkMode .profil-social-media svg {
    color: #03011E;
}

.darkMode .menu-mobile span,
.darkMode .menu-mobile::after,
.darkMode .menu-mobile::before {
    background: #03011E;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 3;
    background: #110F26;
    box-shadow: 0px 0px 10px #03011e10;
    backdrop-filter: blur(-10px);
}
.dark-mode {
    width: 44px;
    height: 18px;
    border: 3px solid white;
    border-radius: 99px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: border 0.3s ease-in-out;
}
.dark-mode:hover {
    border: 3px solid #2094FF;
}
.dark-mode div {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 99px;
    margin-left: 0;
    transition: 0.3s ease-in-out;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.darkMode .dark-mode div {
    margin-left: 64%;
    background: #03011E;
}
/* MENU */
.menu {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.menu:hover {
    color: #2094FF;
}
/* MENU MOBILE */
.menu-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
    cursor: pointer;
}
.menu-mobile span, .menu-mobile::after, .menu-mobile::before {
    content: "";
    display: block;
    width: 100%;
    height: 18%;
    background-color: white;
    border-radius: 99px;
    transition: 0.3s ease-in-out;
}
.menuMobileScript.menu-mobile::before {
    transform: rotate(-45deg) translate(-25%, 6px);
}
.menuMobileScript.menu-mobile span {
    opacity: 0;
}
.menuMobileScript.menu-mobile::after {
    transform: rotate(45deg) translate(-25%, -6px);
}
.menu-mobile:hover span, .menu-mobile:hover::after, .menu-mobile:hover::before {
    background: #2094FF;
}

/* LOGO */
.logo::before {
    content: "Arry";
    color: white;
    font-size: 30px;
}
.logo::after {
    content: "Putra";
    color: #2094FF;
    font-size: 30px;
}

/* HOME */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #03011E;
}
.home-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.profil {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}
.profil-circlebg {
    width: 180px;
    height: 180px;
    background: linear-gradient(45deg, #2094FF, rgb(0, 247, 255));
    position: relative;
    animation: circlebg 5s alternate infinite ease-in-out;
    z-index: 0;
}
@keyframes circlebg {
    0% {
        border-radius: 49% 51% 51% 49% / 54% 50% 50% 46%;
    }
    50% {
        border-radius: 39% 61% 41% 59% / 52% 51% 49% 48% ;
    }
    100% {
        border-radius: 63% 37% 55% 45% / 52% 51% 49% 48% ;
    }
}
.profil img {
    width: 220px;
    position: absolute;
    z-index: 2;
}
.profil-desc {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
    padding: 20px 0px;
}
.title {
    display: flex;
    flex-direction: column;
    height: 35px;
    overflow: hidden;
}
.title :first-child {
    animation: slide 3s alternate infinite ease-in-out;
}
@keyframes slide {
    0% {
        margin-top: 0px;
    }
    10% {
        margin-top: 0px;
    }
    20% {
        margin-top: 0px;
    }
    30% {
        margin-top: 0px;
    }
    40% {
        margin-top: 0px;
    }
    50% {
        margin-top: -35px;
    }
    60% {
        margin-top: -35px;
    }
    70% {
        margin-top: -35px;
    }
    80% {
        margin-top: -35px;
    }
    90% {
        margin-top: -35px;
    }
    100% {
        margin-top: -35px;
    }
}
.profil-social-media {
    display: flex;
    padding: 10px 0px;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}
.profil-social-media svg {
    cursor: pointer;
    color: white;
    width: 32px;
    transition: margin-bottom 0.1s ease-in-out;
}
.profil-social-media svg:hover {
    margin-bottom: 5px;
}

/* WAVE */
.wave {
    bottom: -1px;
    display: flex;
    position: absolute;
    width: 100%;
    color: #110F26;
    z-index: 0;
}

/* ABOUT */
.about {
    width: 100%;
    background: #03011E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-wave {
    gap: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    background: #110F26;
    padding-left: 10%;
    padding-right: 10%;
}
/* SKILLS */
.skills-txt {
    font-size: 30px;
    color: white;
    width: 100%;
    height: fit-content;
    text-align: center;
    position: relative;
    margin-bottom: 10%;
}
.skills-txt::before {
    content: "";
    background: white;
    width: 30%;
    height: 4px;
    position: absolute;
    left: 0;
    opacity: 0.1;
    bottom: 45%;
}
.skills-txt::after {
    content: "";
    background: white;
    width: 30%;
    height: 4px;
    position: absolute;
    right: 0;
    opacity: 0.1;
    bottom: 45%;
}

.about-skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.web-development {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
}
.web-development-txt {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    background: #110F26;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}
.web-development-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
}
/* MEDIA SCREEN */
/* LAPTOP */
@media screen and (min-width: 640px) {
    /* NAVBAR */
    .menu-mobile {
        display: none;
    }
    .logo {
        display: none;
    }
    /* HOME */
    .home-container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .profil-desc {
        text-align: left;
    }
    .profil-social-media {
        justify-content: space-between;
    }
    /* SKILLS */
    .skills-txt::before,
    .skills-txt::after {
        width: 40%;
    }
    .about-skills {
        flex-direction: row;
    }
    .web-development {
        width: 35%;
    }

}

/* MOBILE */
@media screen and (max-width: 640px) {
    .menu {
        display: none;
    }
    /* HOME */
    .home-container {
        margin-top: 80px;
    }
}
